<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/farbtastic/farbtastic.css" />
		<link rel="stylesheet" href="/jqueryui/css/ui-lightness/jquery-ui-1.10.4.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/jqueryui/js/jquery-ui-1.10.4.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/farbtastic/farbtastic.js"></script>
		<script> 
			function Point(event, target) {
				this.x = event.pageX - $(target).position().left;
				this.y = event.pageY - $(target).position().top;
			}
		</script>
		<script>
			$(document).ready(function() {
				var canvas = document.getElementById('canvas');
				var context = canvas.getContext('2d');
				var width=5 , color = '#000000' , isDown = false , newPoint, oldPoint;

				canvas.onmousedown = function(event) {
					isDown = true;
					oldPoint = new Point(event,this);
				};
				canvas.onmouseup = function() {isDown = false;}
				canvas.onmousemove = function(event) {
					if(isDown) {
						newPoint = new Point(event,this);

						socket.emit('draw', {
							width:width,
							color:color,
							x1:oldPoint.x,
							y1:oldPoint.y,
							x2:newPoint.x,
							y2:newPoint.y,
						});
						oldPoint = newPoint;
					}
				};

				var socket = io.connect();

				// URL 부분에 room 번호 방에 접속 후 line 그려줌
				socket.emit('join','<%= room %>');
				socket.on('line',function(data) {
					context.lineWidth = data.width;
					context.strokeStyle = data.color;
					context.beginPath();
					context.moveTo(data.x1,data.y1);
					context.lineTo(data.x2,data.y2);
					context.stroke();
				});
				socket.on('image',function(data) {
					var img = new Image();

					image.onload = function() {
						var x=0,y=0;
						context.drawImage(this,x,y,300,300);
						alert("Draw Finish");
					}
					image.src = "data:image/png;base64,RTpcTWVtYmVyc2hpcFxTdHVkeVxFY2xpcHNlXFdlYl9wcm9qZWN0XGltYWdlc1wwNTI0MTRfcmVhbC1tYWRyaWRfNjAwLmpwZw==";
				});
				$('#colorpicker').farbtastic(function(data) {
					color = data;
				});
				$('#slider').slider({
					max:20, min:1 , value:5,
					change:function(event,ui) {
						width = ui.value;
					}
				});
			});
		</script>
		<script> 
			var socket = io.connect();
			function transfer() {
				socket.emit('imagedraw','');
			}
			socket.on('image',function(data) {
				var image = new Image();
				var canvas = document.getElementById('canvas');
				var context = canvas.getContext('2d');
				
				image.onload = function() {
					var x=0,y=0;
					context.drawImage(image,x,y,300,300);
					alert("Draw Finish");
				}
				image.src = "data:image/png;base64,"+data;
				/*
				var uint8Arr = new Uint8Array(data.buffer);
				var str = String.fromCharCode.apply(null,uint8Arr);
				var base64String = btoa(str);
				
				var img = new Image();
				img.onload = function() {
					var canvas = document.getElementById('canvas');
					var context = canvas.getContext('2d');
					var x=0,y=0;
					context.drawImage(this,x,y);
				}
				img.src = 'data:image/png;base64,'+base64String;
				*/
				
			});
		</script>
		<script>
		</script>
	</head>
	<body onload="init()">
		<table border="10">
			<tr>
				<td rowspan="3">
					<!--캔버스-->
					<canvas id="canvas" width="800" height="700"></canvas>
				</td>
				<td height="50">
					<!-- 색상 선택 -->
					<div id="colorpicker"></div>
				</td>
			</tr>
			<tr>
				<td height="25">
					<!-- 슬라이더 : 두께 선택 -->
					<div id="slider"></div>
					<!-- 이미지 업로드 -->
					<form method='post' action='upload' enctype='multipart/form-data' >
						<input type="file" name="fileUploaded"/>
						<input type="submit" onclick="transfer()"/>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>