<!DOCTYPE html>
<html>
	<head>
		<title>Lobby</title>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$(document).ready(function() {
				$.getJSON('/room',function(data) {
					for(var i=0;i<data.length;i++) {
						$('<button></button>').attr({
						'data-room':data[i]
						}).text('Room Name : ' + data[i]).appendTo('#container');
					}
					/*
					$.each(data,function(index,item) {
						alert("item : " + item);
						$('<button></button>').attr({
							'data-room':item
						}).text('Room Name : ' + item).button().appendTo('#container');
					});
					*/
				});
				var socket = io.connect();
				socket.on('create_room',function(data) {
					alert("Room name : " + data);
					$('<button></button>').attr({
						'data-room':data
					}).text('Room Name : ' + data).button().appendTo('#container');
				});
				$(document).on('click','#container > button',function() {
					var room = $(this).attr('data-room');
					alert("Room Name : " + room);
					location = '/canvas/' + room;
				});
				$('body > button').click(function() {
					var room = $('#room').val();
					socket.emit('create_room',room);
					location = '/canvas/' + room;
				});
			});
		</script>
	</head>
	<body>
		<h1>Rint Real Time Canvas</h1>
		<p>Connect Web Server With Socket.io</p>
		<span>ROOM : </span>
		<input id = "room" />
		<button>CREATE ROOM</button>
		<hr />
		<div id="container">
		
		</div>
	</body>
</html>